<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	<!-- 开启MVC注解 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	<!-- base-package 扫描项目中 com.fh.controller下的java类-->
	<context:component-scan base-package="com.fh.shop.api.*.controller"></context:component-scan>
	<context:component-scan base-package="com.fh.shop.api.aop"></context:component-scan>
	<context:component-scan base-package="com.fh.shop.api.exception"></context:component-scan>
<!--aop代理-->
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>

</beans>
