<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin.mapper.MemberMapper">

    <sql id="member">
        <where>
            <if test="name!=null and name!='' ">
                and name like concat('%',#{name},'%')
            </if>
            <if test="realName!=null and realName!=''">
                and realName like concat('%',#{realName},'%')
            </if>
            <if test="minDate!=null">
                and birthday >=#{minDate}
            </if>
            <if test="maxDate!=null">
                and birthday &lt;= #{maxDate}
            </if>
        </where>
    </sql>

    <select id="memberCount" resultType="long">
        select count(*) from t_member
        <include refid="member"></include>
    </select>
    <select id="findMember" parameterType="admin.param.MemberParam" resultType="admin.po.Member">
        select t.* from(
        select id,name,realName,mail,phone,birthday,areaName from t_member
        <include refid="member"></include>
        order by id desc
        )t
        limit #{start},#{length}
    </select>


</mapper>