<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
   
<mapper namespace="com.fh.shop.api.car.mapper.CarMapper">
<sql id="car">
    <where>
        <if test="carName != null and carName != ''">
            carname like concat('%',#{carName},'%')
        </if>
        <if test="minPrice != null">
            and price >= #{minPrice}
        </if>
        <if test="maxPrice != null">
            and price &lt;= #{maxPrice}
        </if>
        <if test="minStock != null">
            and stock >= #{minStock}
        </if>
        <if test="maxStock != null">
            and stock &lt;= #{maxStock}
        </if>
        <if test="brandId != null">
            and brandId = #{brandId}
        </if>
        <if test="provinceId != null">
            and provinceId = #{provinceId}
        </if>
        <if test="cityId != null">
            and cityId = #{cityId}
        </if>
        <if test="areaId != null">
            and areaId = #{areaId}
        </if>

    </where>
</sql>

    <select id="count" parameterType="com.fh.shop.api.car.param.CarSearchParam" resultType="int">
        select count(*)from t_car
       <include refid="car"></include>
    </select>
    <select id="findSerchCar" parameterType="com.fh.shop.api.car.param.CarSearchParam" resultType="com.fh.shop.api.car.po.Car">
       select t.* from (select c.id,c.carName,c.price,c.stock,c.isHot,c.status,b.brandName,c.areaName from t_car c
        left join t_brand b on c.brandId=b.id
       <include refid="car"></include>
        order by id desc)t
        limit #{start},#{length}
    </select>

<insert id="addBatchCar">
    insert into t_car(carName,price,stock)values
    <foreach collection="list" item="car" separator=",">
        (#{car.carName},#{car.price},#{car.stock})
    </foreach>

</insert>

</mapper>